<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer class="bg-purple-600 mt-20">
    <div class="flex items-center justify-center">
      <span class="mt-2 mb-2 text-slate-200"
        >Desarrollado por RizioDev © 2024</span
      >
    </div>
  </footer>
  